<section >
    <article class="blog-card">
        <header id="{{blog.id}}" class="card-header">
            <h2>{{blog.title}}</h2>
            <h3>{{user.username}}, {{blog.date_created}}</h3>
        </header>
        <p>{{blog.content}}</p>
        <footer>
            <form id="comment-form">
                <input type="text" Content>
                <button>Submit Comment</button>
            </form>
            <ul>
                {{#each comments as |comment|}}
                <li>
                    <p>{{comment.content}}</p>
                    <p class="comment-info">
                        {{user.username}}, {{comment.date_created}}
                    </p>
                </li>
                {{/each}}
            </ul>
        </footer>

    </article>
    </section>